.app {
  padding: 0 30px;
}

.app .table {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  height: 100vh;
}

.app .table .dealer,
.app .table .player {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.app .table .slot {
  width: 103px;
  height: 149px;
  background: #eeeeee;
  margin: 10px;

  box-sizing: border-box;
}
